@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
	padding: 0;
	margin: 0;
}


.wrapper{
	background-size: cover;
	height: 0vh;
}

.section{
	color: rgb(0, 0, 0);
	font-size: 70px;
	width: 0px;
	font-weight: bold;
	position: absolute;
	left: 440px;
	top: 190px;
	
}

.email{
	color: rgb(0, 0, 0);
	font-size: 40px;
	width: 0px;
	font-weight: bold;
	position: absolute;
	left: 480px;
	top: 330px;
	
}

.instagram{
	position: absolute;
   top: 130px;
   left:35px;
}

.Instagram-name{
	position: absolute;
	font-size: 100%;
	top: 440px;
	left:80px;	
}
.TikTok{
	position: absolute;
	top: 130px;
	left:1090px;
}

.tiktok-name{
	position: absolute;
	font-size: 90%;
	top: 440px;
	left:1120px;	
}
.navbar{
	position: absolute;
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(206, 203, 203, 0.4);
}
.wrapper .navbar .logo{
	position: absolute;
	width: 60px;
	height: auto;
	left: -60px;
	padding: 20px 100px;

}
.navbar ul{
	float: right;
	margin-right: 0px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
	left: 0px;
}
.navbar ul li a{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
	position: static;
	left: 1000px;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background: rgb(255, 196, 0);
	border-radius: 2px;
}
.wrapper .center{
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
	user-select: none;
}
.center h1{
	color: rgb(0, 0, 0);
	font-size: 70px;
	width: 900px;
	font-weight: bold;
	position: absolute;
	left:-0px;
	top: -70px;
}
.center p2{
	color: rgb(0, 0, 0);
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
	width: 855px;
	text-align: center;

}

/* FOOTER */

.footer .footer-bottom {
	background: #5788b9;
	color: #686868;
	height: 50px;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding-top: 20px;
  }

  