@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
	padding: 0;
	margin: 0;
}
.wrapper{
	background: url(bg1.jpg) no-repeat;
	background-size: cover;
	height: 205vh;
}
.navbar{
	position: fixed;
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(206, 203, 203, 0.4);
}
.navbar .logo{
	width: 60px;
	height: auto;
	padding: 20px 100px;
}
.navbar ul{
	float: right;
	margin-right: 20px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background: rgb(255, 196, 0);
	border-radius: 2px;
}
.wrapper .center{
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
	user-select: none;
}
.center{
	color: rgb(0, 0, 0);
	font-size: 70px;
	width: 900px;
	font-weight: bold;
	text-align: center;
	bottom:-290px;
	display: inline;
	border-bottom: 1px black;
}

/* Videos */

.video1{
   position: absolute;
   top: 180px;
   left:30px;
}
.video2{
	position: absolute;
	top: 550px;
	left: 500px;
 }
 .video3{
	position: absolute;
	top: 180px;
	left:500px;
 }
 .video4{
	position: absolute;
	top: 550px;
	left:30px;
 }

 .video6{
	position: absolute;
	top: 900px;
	left:500px;
 }
 .video7{
	position: absolute;
	top: 900px;
	left:30px;
 }
 .video8{
	position: absolute;
	top: 190px;
	left:990px;
 }
 .video9{
	position: absolute;
	top: 550px;
	left:990px;
 }



/* FOOTER */

.footer .footer-bottom {
	background: #5788b9;
	color: #686868;
	height: 50px;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding-top: 20px;
	top: 1310px;
  }